@mixin screenSm {
    body#menu {
        div.dishes-menu {
            a.dish {
                div.img {
                    -webkit-filter: grayscale(0);
                    filter: gray;
                }
            }
        }
    }

    body#home {
        div#app{
            header{
                section.landing {

                    img {
                        height: 150px;
                    }
                    h1 {
                        font-size: 2rem;
                    }
                } 
            }
        }
    }

}
@mixin screenMd {
    body#home {
        section.landing {
            img {
                width: 150px;
                height: auto;
            }
        } 
     }
    body {
        header {
            nav#navbar {
                div.hamburgerButton {
                    @include easeOut;
                    z-index: 100;
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    width: 30px;
                    cursor: pointer;
                    .line {
                        &:nth-child(odd) {
                            margin: 5px 0;
                        }
                        height: 3px;
                        width: 100%;
                        background: white;
                    }
                }
                div#navbarSupportedContent.navbar-collapse {
                    div#nav-links {
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translateX(-50vw);
                        z-index: 50;
                        display: grid;
                        width: 50vw;
                        height: 100vh;
                        background:linear-gradient(to bottom, #000000 0%,#45484d 100%);;
                        grid-template-columns: 1fr;
                        grid-auto-flow: column;
                        // display: none;
                        .left {
                            align-self: end;
                            clear: both;
                            a img#logo {
                                margin-left: 0;

                            }
                            justify-self: center;    
                        }
                        .centered {
                            align-self: center;
                            clear: both;
                        }
                        
                        .right {
                            align-self: start;
                            clear: both;
                            padding-left: 30px;
                        }
                        justify-items: center;
                        grid-auto-flow: column;
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr 1fr 1fr;
                        grid-template-areas: 
                        "left"
                        "center"
                        "right";
                        align-items: start;
                        div.centered ul.navbar-nav {
                            margin-right: 25px;
                            flex-direction: column;
                            justify-items: center;    
                            align-items: center;   
                        }

                        @include easeOut;
                        &.show {
                            // display: grid;
                            transform: translateX(0);
                            li {
                              a {
                                font-size: 15px;
                                color: white;
                                // font-weight: bold;
                              }
                            }
                        }
                    }
                }
            }
        }
        footer {
           h4 {
               font-size: 25px;
               margin-bottom: 20px;
           } 
           a {
               font-size: 15px;
               margin-bottom: 10px;
           }
        }

    }
    body#menu, body#menu_category {
        div.dishes-menu {
            grid-template-columns: 1fr;
        }
    }
    body#home {
        #popular {
            display: none;
        }
        header {
            .landing h1 {
                z-index: 0;
            }
        }
    }
    body#menu {
        div.dishes-menu {
            a.dish {
                div.img {
                    -webkit-filter: grayscale(0);
                    filter: gray;
                }
            }
        }
    }

    body#about_us {
        background-position: center;
        section.about_us {
            h1 {
                font-size: 3rem;
            }
        }
        .mvv {
            display: grid;
            grid-template-columns: 1fr;
            div.card-mvv {
                padding: 10px 15px;
            }
        }
    }
}
@mixin screenLg {
    body#menu, body#menu_category {
        div.dishes-menu {
            grid-template-columns: 1fr 1fr;
        }
    }
    body#locations {
        section.restaurant {
            div#map {
                background: green;
            }
        }
    }
}
@mixin screenXl {
    
}

@mixin screenLarge {
    body#locations {
        section.restaurant {
            div.map {
                height: 475px;
            }
        }
    }
}


@media screen and (max-width: #{$screenSize1}) {
    @include screenMd;
    @include screenSm;
}
@media screen and (min-width:#{$screenSize1 + 1}) and (max-width: #{$screenSize2}) {
    @include screenMd;
}
@media screen and (min-width:#{$screenSize2 + 1}) and (max-width: #{$screenSize3}) {
    @include screenLg;
}
@media screen and (min-width:#{$screenSize3 + 1}) {
    @include screenXl;
}
@media screen and (min-height: #{$screenHeight1}) {
    @include screenLarge;
}
