
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html ::-webkit-scrollbar {
  display: none;
}
// Custom

body {
  font-family: 'Pacifico', "cursive", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  header {
    #navbar-wrapper {
      height: 100px;
      width: 100%;
      #navbar {
        background-image: linear-gradient(to right, #000000 0%,#45484d 100%);
        z-index: 1;
        padding: 0;
        position: fixed; 
        top: 0;
        height: 70px;
        width: 100%; 
        .nav-item {
          z-index: 3;
          .nav-link, .navlink {
            z-index: 3;
          }
          .dropdown-item {
            font-family: "Nunito";
          }
        }
        #nav-links {
          width: 100%;
          display: grid;
          align-items: center;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas: "left center right";
          li {
            a {
              font-size: 15px;
              color: white;
              // font-weight: bold;
            }
          }
          .left {
            grid-area: left;
            #logo {
              float: left;
              height: 65px;
              margin-left: 50px;
            }
          }
          .centered {
            justify-self: center;
            grid-area: center;
            li:nth-child(odd){
              margin: 0 50px;
            }
            li{
              align-self: center;
              display: flex;
            }
          }
          
          .right {
            grid-area: right;
            ul {
              float: right;
              li {
                margin-right: 50px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    background: #7d7e7d;
    background: linear-gradient(to right, #000000 0%,#45484d 100%);
    padding: 2rem 4rem;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    font-size: 1.25rem;
    color: white;
    h4 {
      text-align: center;
      font-size: 40px;
      grid-column: 1/3;
    }
    .left-side {
      display: grid;
    }
    a {
      color: white;
      &:hover {
        color: black;
      }
    }
  }

  .btn, label, input, p {
    font-family: "Nutino"
  }
} 

body#home {
  background: url("/img/woodbg.jpeg");
  background-attachment: fixed;
  // background-image: linear-gradient(to top, #ca5f5e, #d68584);
  color: #000;
  header {
    height: 100vh;
    background: $body-bg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    #navbar-wrapper {
      #navbar {
        @include easeOut;
        background: rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        z-index: 1;
        &:after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          // background-image: linear-gradient(to top, #ca5f5e, #d68584);
          background-image: linear-gradient(to right, #000000 0%,#45484d 100%);
          transition: opacity 0.5s ease-out;
          z-index: 2;
          opacity: 0;
        }
        &.navbar-black:after {
          opacity: 1;
        }
        #nav-links a {
          z-index: 3;
          color: white;
        }
      }
    }
    .landing {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        z-index: 2;
        height: 400px;
      }
      h1 {
        z-index: 2;
        color: white;
        font-size: 50px;
        padding: 5px 10px;
        border-bottom: solid white 2px;
      }
    }
  }

  #popular {
    padding: 6rem 4rem;
    h2 {
      font-size: 70px;
      text-transform: uppercase;
    }
    .dish {
      img {
        height: 550px;
      }
    }
  }
} 

body#dashboard {
  h1, .add-dish, .description p {
    font-family: "Nunito", "Arial";
  }
}

body#dish_create, body#dish_edit, body#dashboard {
  .tags {
    cursor: pointer;
    margin: 6px 3px 5px 0; 
    font-family: "Nunito"; 
    font-size: 1rem;
    @include easeOut;
    span::selection {
      background: rgba(#000, 0);
    }
    input {
      display: none;
    }
    &:hover{
      background: rgb(54, 54, 54);
    }
    &.added {
      background: darken($blue, 3);
    }
    
    &.delete {
      background: $red;
    }
  }
}

